.who {
    margin-top: 15px;
    text-align: center;
    padding: 0 10px;
}

.who__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.who__content__text {
    margin-right: 0;
    text-align: justify;
    font-size: 22px;
    margin-bottom: 20px;
    max-width: 100%;
}

.who__content__img {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
}

@media (min-width: 1024px) {
    .who__content {
        width: 80%;
        margin: 0 auto;
    }

    .who__content__img {
        max-width: 250px;
    }
}

.who__mission {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;
}

.who__mission img {
    width: 100%;
    max-width: 450px;
    margin: 10px;
}

@media (max-width: 768px) {
    .who__mission {
        justify-content: center;
    }

    .who__mission img {
        width: 90%;
        max-width: 400px;
    }

    .who__content__img {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .who__content {
        flex-direction: row;
        justify-content: flex-start;
    }

    .who__content__text {
        font-size: 25px;
        margin-right: 50px;
    }

    .who__content__img {
        width: 350px;
        margin-top: 0;
    }

    .who__mission {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .who__mission img {
        width: 30%;
        max-width: 450px;
    }
}
