footer {
    background-image: url("../../assets/images/Background_JR.png");
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a varias líneas si no hay espacio */
}

div p {
    margin: 0;
}

.footer__logo {
    height: auto; /* Asegura que la proporción del logo se mantenga */
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centra el texto */
    margin-bottom: 15px;
}

.footer__title {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: "Comic Sans MS", serif;
    /*font-weight: bold;*/
}

.footer__paragraph {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: "Comic Sans MS", serif;
}

.footer__paragraph a {
    color: white;
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold;
    font-family: "Arial", serif;
}

.footer__image-marginBottom {
    margin-bottom: 10px;
    transition: filter 0.3s ease;
}
.footer__image-marginBottom:hover {
    filter: brightness(0.7);
}

.footer__image-marginTop {
    margin-top: 10px;
    transition: filter 0.3s ease;
}
.footer__image-marginTop:hover {
    filter: brightness(0.7);
}

/* Responsividad */
@media (max-width: 992px) {
    footer {
        flex-direction: column; /* Cambia el diseño a vertical */
        align-items: center; /* Centra todo el contenido */
    }

    .footer__title {
        font-size: 22px;
    }

    .footer__paragraph {
        font-size: 18px;
    }

    .footer__image-marginBottom {
        margin-bottom: 0;
    }

    .footer__image-marginTop {
        margin-top: 0;
    }

    .footer__logo {
        width: 65vh; /* Reduce el tamaño del logo en pantallas medianas */
    }
}

@media (max-width: 576px) {
    .footer__title {
        font-size: 20px;
    }

    .footer__paragraph {
        font-size: 16px;
    }

    footer {
        gap: 15px;
        padding: 15px; /* Reduce el padding en pantallas pequeñas */
    }

    .footer__image-marginBottom {
        margin-bottom: 0;
    }

    .footer__image-marginTop {
        margin-top: 0;
    }

    .footer__logo {
        width: 40vh; /* Reduce aún más el tamaño del logo en pantallas pequeñas */
    }
}